.app-container {
	width: 100%;
	background-color: #FAFAFA;
}

.app-bar {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 10px;
}

.blank-background {
	margin: 0 auto;
	min-height: 180px;
	max-height: 180px;
}

.machine-reported-error {
	margin: 0 auto; 
	color: #E53935;
	text-align: center;
}

.test {
	display:inline-block;
}

.Test-list {
	max-height: 60%;
	overflow-y: auto;
}

.card-of-edit-tape-info-pane{
	margin: 0 auto;
	min-height: 350px;
	max-height: 350px;
	width: 90%;
}