.app-container {
	background-color: #FAFAFA;
}

.app-bar {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 10px;
}

.machine-reported-error {
	margin: 0 auto; 
	color: #E53935;
	text-align: center;
}


