
.card-of-rule-table {
  width: 90%;
  margin: 0 auto; 
}

.rule-table-container {
	padding-bottom: 30px;
	margin: 0 auto;
	min-height: 330px;
	/*max-height: 330px; uncomment it to have smaller fixed table size*/
	width: 90%;
}

table thead tr{
    display:block;
}

th {
  width:14vw;
}
th:first-child {
  width:9vw;
}

tbody td:first-child {
  width:9vw;
}
tbody td {
  width:14vw;
}
table tbody{
  display:block;
  /*height:300px;  uncomment it to have smaller fixed table size */
  width: 100%;
  overflow:auto;
}
 




