.card-of-tape {
  padding-bottom: 20px;
  height: 30%;
  width: 90%;
  margin: 0 auto; 
}

.step-count {
  color: #616161;
  padding-left: 10px;
  padding-top: 5px;
}

.whole-tape-wrapper {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.whole-tape {
  margin: 0 auto;
  display: inline-block;
}

.square {
  display: inline-block;
  background: #fff;
  border: 1px solid ;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  outline-width: 0;
}

.roll-left {
  display: inline-block;
  height:100px;
  padding-right: 0px;
}

.roll-right {
  display: inline-block;
  height:100px;
  padding-left: 0px;
}

/***  HEAD  ***/

.header {
  max-width: 130px;
  text-align: left;
  position: relative;
}
.header:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.header:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.hair {
  height: 5px;
  position: relative;
  border: 2px solid black;
  background-color: black;
}

.head {
  background: #fff;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  height: auto;
  position: relative;
  text-align: center;
}
.head:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.head:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  pointer-events:none;
}

.neck {
  height: 10px;
  width: 0.5px;
  position: relative;
  left: 15px;
  border: 1px solid black;
  background-color: black;
}

.shoulder {
  height: 0.5px;
  width: 30px;
  position: relative;
  left: 0px;
  border: 1px solid black;
  background-color: black;
}
/***  HEAD  ***/

.editting-mode-button-group {
  /*padding-right: 43%;*/
  margin: 0 auto;
  width: 45%;
}

.editting-mode-card {
  width: 45%;
  margin: 0 auto;
}