.card-of-tape {
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto; 
}

.tape-with-button {
  padding-top: 10px;
  display: table;
  margin: 0 auto; 
}

.tape {
  display: table-cell;
}

.tape-row:after {
  width: 80%;
  clear: both;
  content: "";
  display: table-cell;
}

.head-row:after {
  clear: both;
  content: "";
  display: table-cell;
}


.roll-left {
  display: table-cell;
  vertical-align: middle;
  height:145px;
  padding-right: 0px;
}

.roll-right {
  display: table-cell;
  vertical-align: middle;
  height:145px;
  padding-left: 1.5px;
}

.roll-left-button {
  height: 50.7px;
  width: 30px;
}

.roll-right-button {
  height: 50.7px;
  width: 30px;
  border: 1px solid black;
}
.roll-right-button:after {
  content: ">";
  text-align: right; 
}



.hair {
  width: 30px;
  height: 5px;
  position: relative;
  border: 2px solid black;
  background-color: black;
}

.head {
  background: #fff;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto; 
  height: auto;
  width: 30px;
  position: relative;
  text-align: center;
}

.neck {
  height: 10px;
  width: 0.5px;
  position: relative;
  left: 15px;
  border: 1px solid black;
  background-color: black;
}

.shoulder {
  height: 0.5px;
  width: 30px;
  position: relative;
  left: 0px;
  border: 1px solid black;
  background-color: black;
}

.square {
  background: #fff;
  border: 1px solid ;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  background-color: #87dbff;
}

.square:hover {
  background-color: #f1fc7e;
}

.square-highlight {
  background-color: #f1fc7e;
}
